<form>
  <div class="registerborder">
  <div class="register">
    <h1>Register</h1>
  </div>
  <div class="row mb-3">
    <label for="inputFirstName3" class="col-sm-2 col-form-label">FirstName:</label>
    <div class="col-sm-10">
      <input type="firstname" class="form-control" id="inputFirstName3"  required>
    </div>
  </div>
  <div class="row mb-3">
    <label for="inputLastName3" class="col-sm-2 col-form-label">LastName:</label>
    <div class="col-sm-10">
      <input type="lastname" class="form-control" id="inputLastName3"  required>
    </div>
  </div>
  <div class="row mb-3">
    <label for="inputEmail3" class="col-sm-2 col-form-label">Email:</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" id="inputEmail3"  required>
    </div>
  </div>
  <div class="row mb-3">
    <label for="inputPassword3" class="col-sm-2 col-form-label">Password:</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="inputPassword3"  required>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Sign Up</button>
  <!-- Button trigger modal -->
<button type="button" id="submit-button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" >
  Login
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Login</h5>
      </div>
      <div class="modal-body">
        <div class="row1 mb-3">
          <label for="loginid" class="col-sm-2 col-form-label"></label>
          <div class="col-sm-10">
            <input type="firstname" class="form-control" id="loginEmail" placeholder="Email ID"  required>
          </div>
        </div>
        <div class="row1 mb-3">
          <label for="passwordid" class="col-sm-2 col-form-label"></label>
          <div class="col-sm-10">
            <input type="password" class="form-control" id="loginPassword" placeholder="Password"  required>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Login</button>
      </div>
    </div>
  </div>
</div>
  </div>
</form>



